<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<div class="container">
  <!---------- Titre de la page ---------->
  <section id="titre_principal">
    <h1><img src="http://localhost:8090/data/logo.jpg" style="width: 50px;"> {{cabinet.getNomCabinet()}} <img src="http://localhost:8090/data/logo2.png" style="width: 50px;"></h1>
  </section>
  <br/>
  <table>
    <tr>
      <td>
        <!---------- Les infirmières ---------->
        <h3>Infirmiers</h3>
        <div id="conteneur_infirmiers" class="jumbotron">
          <ul *ngFor="let inf of cabinetService.infirmiers">
              <!--Parcours des infirmières -->
              <!-- Appel du composant infirmier auquel on donne l'infirmier et le cabinet -->
              <app-infirmier [infirmier]="inf" [cabinet]="cabinetService"></app-infirmier>
          </ul>
        </div>
      </td>

      <td>
        <div id="container">
          <table class="table">
            <tr>
              <td>
                <!---------- Patients non affectés ---------->
                <section alx-dragdrop alx-dropzone (alx-ondrop)="desaffectPatientDragDrop($event)">
                  <div id="patients">
                    <!-- Appel de la fonction de désaffectation lorsqu'un patient est déposé dans les patients non affectés --->

                    <h5>Patients non affectés</h5>
                    <!-- Parcours des patients non affectés -->
                    <ul *ngFor="let pato of cabinetService.patientsNonAffectes">
                      <!-- Appel du composant patient auquel on donne le patient et le cabinet -->
                      <li><app-patient [patient]="pato" [cabinetPatient]="cabinetService"></app-patient></li>
                    </ul>

                  </div>
                </section>
              </td>
              <td>
                <!---------- Ajouter Patient ---------->
                <div class="container">
                  <div id="addpatients">
                    <h3>Ajouter un patient</h3>
                    <div class="form-group">
                      <label>Prénom</label><input class="form-control" #prenom type="text" placeholder="JEAN" required/>
                      <label>Nom </label><input class="form-control" #nom type="text" placeholder="Pierre" required/>
                      <label>Sexe </label><br/>
                      M<input #M type="radio" name="sexe" checked/>F<input #F type="radio" name="sexe" checked/><br/>
                      <br/>
                      <label>Numéro de sécurité sociale</label><input class="form-control" #nss type="text" placeholder="ex : 110083306303570" required/>
                      <label>Date de naissance</label><input class="form-control" #date type="date" id="date" required/>
                      <label>Ville </label><input class="form-control" #ville type="text" placeholder="Saint martin d'Heres" required/>
                      <label>Code Postal </label><input class="form-control" #cp type="text" placeholder="38400" required/>
                      <label>Rue </label><input class="form-control" #rue type="text" placeholder="De la chimie" required/>
                      <label>Numéro</label><input class="form-control" #numero type="text" placeholder="60" required/>
                      <label>Etage </label><input class="form-control" #etage type="text" placeholder="0"/>
                    </div>
                    <!-- Appel de la fonction d'ajout de patient lors du clic sur le bouton --->
                    <input type="button" class="btn btn-secondary" value="Créer" (click)="addPatient(prenom.value, nom.value, nss.value, M.checked, F.checked, ville.value, rue.value, numero.value, etage.value, cp.value, date.value)"/>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>



</div>

