#titre_principal{
  position:center;
  text-align: center;
}
#conteneur_patients {
  text-align:left;
  display: flex;
  justify-content: flex-start;
  margin:auto;
  width:690px;
}
.conteneur {
  border: solid 3px black;
  margin-bottom: 20px;
  padding : 20px 5px 20px 5px;
}
#patients {
  border: solid 3px #2FA8DA;
}

.patient:hover{
  cursor:grab;
}
.patient:active {
  cursor: grabbing;
}

body{
  text-align:center;
  background-color:#eeeeee;
  font-family: sans-serif, system-ui;
}
h1,h2,h3{
  font-weight: 100;
}
h3{
  text-decoration:underline;
}
/*pour la mise en forme angular material*/



